{% extends "base.html" %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/">All Assessments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/create">Create Assessment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/completed">Completed Assessments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/uncompleted">Uncompleted Assessments</a>
    </li>
{% endblock %}

{% block content %}
    <main class="container">
        <div class="bg-light p-5 rounded">
            <h1>Uncompleted Assessments</h1>
            <div class="list-group w-auto">
                {% for assessment in assessments %}
                    <form method="POST">
                        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                           aria-current="true">
                            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                                 class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <input type="hidden", name="id", value="{{ assessment.id }}">
                                    <h6 class="mb-0">{{ assessment.title }}</h6>
                                    <p class="mb-0 opacity-75">Deadline: {{ assessment.deadline }}</p>
                                    <p class="mb-0 opacity-75">Module Code: {{ assessment.module_code }}</p>
                                    {% if assessment.status == False %}
                                        <p class="mb-0 opacity-75">Status: Uncompleted</p>
                                    {% else %}
                                        <p class="mb-0 opacity-75">Status: Completed</p>
                                    {% endif %}
                                    <p class="mb-0 opacity-75">{{ assessment.intro }}</p>
                                </div>
                            </div>

                            <button class="btn btn-lg btn-primary" type="submit">Complete</button>

                        </a>
                    </form>
                {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}